
@font-face {
    font-family: perso;
    src: url("../../public/font/persona_2/Persona\ DEMO.otf");
}

.container{
    position: absolute;
    width: 100%;
    min-height: 2200px;
    background: #462e22;
    overflow-x: hidden;


    // display: block;
    z-index: 3;
    top: 769px;
    // justify-content: center;
    // align-items: center;

    .cards-ctr{

        padding: 5%;
    }

    a{
        color: #ebd1ba;
        font-weight: bold;
    }

    a:hover {
        color: #fff4e9;
        text-decoration:dotted;
    }

    .slideDown{
        
        position: relative;
        transform: translateY(-150px);
        opacity: 0;
        transition: all 2s ease;
    }

    .slideDown.active{
        transform: translateY(0);
        opacity: 1;
    }

    .slideLeft{
        
        position: relative;
        transform: translateX(150px);
        opacity: 0;
        transition: all 2s ease;
    }

    .slideLeft.active{
        transform: translateX(0);
        opacity: 1;
    }

    .appear{
        opacity: 0;
        transition: all .5s ease;
    }

    .appear.active{
        opacity: 1;
    }

    // verse content

    .verse-box {
        position: relative;
        // background: #4a4641;
        width: 100%;
        height: 20%;
        top: 8%;
        // margin: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        

        .separator{
            margin: 20px;
            height: 135px;
            left: 636.52px;
            top: 1431px;
            border-left: 0.5px solid #eedfd3e1;
            // transform: rotate(90deg);
            @media screen and (min-width: 628px) {
                height: 155px;
            }
        }

        @media screen and (min-width: 628px) {
            // top: -35%;
        }
        
        .world{
            overflow-x: hidden;

            // margin-left: 20px;
            width: 250px;
            @media screen and (min-width: 628px) {
                width: 300px;
                // top: -35%;
            }
        }
        .verse{
            color: #eeeae6;
            font-size: 0.80rem;
            margin-right: 3px;
            margin-left: 7px;
            overflow-x: hidden;

            #majChar {
                font-size: 2.5rem;
                font-family: perso;
            }

            #sig{
                font-style: oblique;
                font-weight: 600;
                line-height: 15px;
            }

            @media screen and (min-width: 428px) {
                font-size: 0.92rem;
            }
            @media screen and (min-width: 628px) {
                font-size: 1rem;
                #majChar {
                    font-size: 3.5rem;
                }
            }
            @media screen and (min-width: 728px) {
                font-size: 1.1rem;
            }
            @media screen and (min-width: 928px) {
                font-size: 1.10rem;
                #majChar {
                    font-size: 3.8rem;
                }
            }
            
        }
    }
    
}
