@font-face {
    font-family: Norm;
    src: url("../../public/font/Louis George Cafe.ttf");
}

@font-face {
    font-family: Reg;
    src: url("../../public/font/Coco-Sharp-Bold-trial.ttf");
}

@font-face {
    font-family: anew;
    src: url("../../public/font/kenoky-light-font/KenokyLight-3zezL.ttf");
}

@font-face {
    font-family: kari;
    src: url("../../public/font/karima-font/KarimaForPersonalUseOnly-ZVPJm.otf");
}

@font-face {
    font-family: over;
    src: url("../../public/font/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: keno;
    src: url("../../public/font/karima-font/KarimaForPersonalUseOnly-ZVPJm.otf");
}


@font-face {
    font-family: ab;
    src: url("../../public/afont/hanging/HangingRegular.ttf");
}

@font-face {
    font-family: hoo;
    src: url("../../public/afont/home_christmas/Home\ Christmas.otf");
}

@font-face {
    font-family: loo;
    src: url("../../public/afont/Loverine.otf");
}

@font-face {
    font-family: rav;
    src: url("../../public/afont/marcha/Marcha.ttf");
}

@font-face {
    font-family: ista;
    src: url("../../public/afont/louisacp/LouisaCP.otf");
}

*{
    font-family: Norm;
}

.main-text{
    font-family: Reg;
}

.svg-box{
    z-index: 900;
    width: 25px;
    height: 28px;
    top: 2.3%;
    right: 12px;
}

.active, .dot:hover {
    background-color: #71717100 !important;
}
  

.slideRight{
        
    position: relative;
    transform: translateX(0x);
    opacity: 1;
    transition: all 2s ease;
}

.slideRight.active{
    transform: translateX(-250px);
    opacity: 0;
}


.title-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 100%;
    @media screen and (min-width: 750px) {
        height: 350px;
    }

    .hone{
        color: white;
        font-family: kari;
        font-size: 2rem;
    }
    .htwo{
        font-size: 2.8rem;
        font-family: new;
        color: white;
    }

    @media screen and (min-width: 390px) {
        .hone{
            font-size: 2.7rem;
        }
        .htwo{
            font-size: 3.5rem;
        }
    }

    @media screen and (min-width: 510px) {
        .hone{

            font-size: 3.3rem;
        }
        .htwo{
            font-size: 5rem;
        }
    }

    @media screen and (min-width: 710px) {
        .hone{
            font-size: 3.6rem;
        }
        .htwo{
            font-size: 6rem;
        }
    }

}

.ctr-don{
    position: absolute;
    top: 360px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    z-index: 1222;
    height: 250px;
    width: 100%;
    // background-color: antiquewhite;
    @media screen and (min-width: 930px){
        top: 400px;
    }
}

.donate-box{
    color: rgb(255, 252, 247);
    // margin-left: -15px;
    h2{
        font-size: 1.25rem;
    }
    span{
        color: #feebd2;
        font-family: actu;
        font-style: italic;
    }
    p{
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: .84rem;
    }
    a{
        color: #fff8f4;
        border-style: solid;
        border-width: 0 0 0 2px;
        border-color: rgb(239, 216, 196);
        border-radius: 20px;
        padding: 10px;
        font-family: reg;
        font-size: .79rem;
    }
    a:hover{
        color: #fff3e2;
        border-width: 0 0 2px;
    }
    @media screen and (min-width: 390px){
        margin-left: -135px;
        h2{
            font-size: 1.35rem;
        }
        p{
            font-size: .9rem;
        }
        a{
            font-size: .89rem;
        }
    }
    @media screen and (min-width: 510px){
        margin-left: -280px;
        h2{
            font-size: 1.4rem;
        }
        p{
            font-size: .9rem;
        }
        a{
            font-size: .9rem;
        }
    }
    @media screen and (min-width: 710px){
        margin-left: -370px;
        h2{
            font-size: 1.35rem;
        }
        p{
            font-size: .9rem;
        }
        a{
            font-size: .89rem;
        }
    }

    @media screen and (min-width: 930px){
        margin-left: 0px;
        h2{
            font-size: 1.45rem;
        }
        p{
            font-size: 1rem;
        }
        a{
            font-size: .95rem;
        }
    }

    @media screen and (min-width: 1230px){
        h2{
            font-size: 1.65rem;
        }
        p{
            font-size: 1.15rem;
        }
        a{
            font-size: 1rem;
        }
    }
    
    // background-color: #462e22;
}

.parallax{
    overflow: hidden;
    position: relative;
    height: 770px;

    width: 100%;
}

.parallax:before {
    z-index: 1111;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1230px;
    background: linear-gradient(to bottom, #FFFFFF00 0%, #FFFFFF00 50%, #432b22aa 80%, #462e22 100%);
}

.backmob{
        width: 100%;
        height: 770px;
        /* position: relative; */
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-Image: url("../../public/pics/oth/backmob.jpg");
        background-repeat: no-repeat;
    }
    
    
    
.frontmob{
    top: 0;
    width: 100%;
    height: 770px;
    z-index: 3;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-Image: url("../../public/pics/oth/frontmob.png");
    background-repeat: no-repeat;
}

@media screen and (min-width: 930px){
    // .backmob{
    //     display: none;
    // }
    // .frontmob{
    //     display: none;
    // }

    // .backordi{
    //     display: block;
    // }
    
    // .frontordi{
    //     display: block;
    //     z-index: 3;
    // }
    .backmob{
        width: 100%;
        height: 770px;
        background-Image: url("../../public/pics/oth/backk.png");
    }
        
    .frontmob{
        top: 0;
        width: 100%;
        height: 770px;
        background-Image: url("../../public/pics/oth/frontlarge.png");
    }

    .title-box {
            height: 450px;
        }
}
/* // ne pas utiliser */