* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none; 
}

/* #cleopatrastar{
    position: fixed;
    width: .5rem;
    height: .4rem;
    background: rgb(250, 170, 182);
    border-radius: 50%;
    bottom: 250px;
    right: 600px;
    box-shadow: .1rem .1rem 16px whitesmoke, 0rem 1rem 30px whitesmoke;
}

.wishmaker{
    position: absolute;
    top: 0%;
    left: 51%;
    width: 10%;
    height: 100vh;
    transform: translate(-50%, -20%);
    transform: rotate(65deg);
    display: flex;
    justify-content: center;
}

.wishmaker #wish{
    height: 12vh;
    width: 10px;
    border-radius: 12px 12px;
    background: linear-gradient(to top, rgb(228, 248, 255) 0%, transparent 80%);
    position: relative;
    backdrop-filter: blur(65%);
    opacity: .6;
    z-index: 400;
}

.wishmaker #wish::after{
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    box-shadow: 10px 10px 20px whitesmoke, -5px -10px 20px whitesmoke,
    -15px -15px 50px whitesmoke;
    border-radius: 50%;
    opacity: 2;
    right: -34%;
    bottom: -1%;
    z-index: 400;
}

.wishstar{
    display: flex;
    justify-content: center;
    position: relative;
    top: -60%;
    left: 60%;
    height: 1200vh;
    width: 10%;
    animation: wish 3s linear 0s infinite normal;

}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6,
#star7,
#star8,
#star9,
#star10,
#star11,
#star12{
    background-color: lavender;
    position: fixed;
    border-radius: 50%;
    height: .5rem;
    width: .5rem;
    animation: cleopatrastar .1s ease 0s infinite normal forwards;
}

#star1{
    top: 15%;
    left: 3%;
    width: .2rem;
    height: .2rem;
}

#star2{
    top: 25%;
    left: 45%;
}

#star3{
    left: 57%;
    top : 60%;
}

#star4{
    left: 6%;
    top: 90%;

}

#star5{
    left: 85%;
    top: 4%;
    
}

#star6{
    left: 34%;
    top : 50%;
    width: .3rem;
    height: .3rem;
}

#star7{
    left: 89%;
    top: 45%;
    width: .3rem;
    height: .3rem;
}

#star8{
    left: 75%;
    top: 34%;
    width: .2rem;
    height: .2rem;
}

#star9{
    left: 35%;
    top: 7%;
    width: .3rem;
    height: .3rem;
}

#star10{
    left: 85%;
    top: 78%;
    width: .3rem;
    height: .3rem;
}

#star11{
    left: 10%;
    top: 78%;
    width: .3rem;
    height: .3rem;
}

#star12{
    left: 12%;
    top: 56%;
    width: .2rem;
    height: .2rem;
}

@keyframes wish {
    0% {
        transform: translateY(0%);
    }
    100%
    {
        transform: translateY(100%);
    }
}

@keyframes cleopatrastar{
    0% {
        background-color: aliceblue;
    }
    100% {
        height: .40rem;
        width: .40rem;
        background-color:mistyrose;
        box-shadow: .2rem .2rem 15px rgb(147, 111, 232),
        .5rem .5rem 30px skyblue;
    }
} */


@font-face {
    font-family: 'actu';
    src: url("../../public/font/actu-font/Actu-d9oB7.otf");
}

@font-face {
font-family: 'lugon';
src: url("../../public/font/lugon/Lugon.otf");
}


@font-face {
    font-family: Bebas;
    src: url("../../public/font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: Reg;
    src: url("../../public/font/CaviarDreams_Bold.ttf");
}

@font-face {
    font-family: Thickk;
    src: url("../../public/font/Coco-Sharp-Bold-trial.ttf");
}

@font-face {
    font-family: Caviar;
    src: url("../../public/font/Louis George Cafe.ttf");
}

@font-face {
    font-family: new;
    src: url("../../public/font/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: Norm;
    src: url("../../public/font/Louis George Cafe.ttf");
}

.home-body{
    overflow-y: scroll;
    min-height: 100vh;
    width: 100%;
    background: white;
}

.intro{
    position: relative;
    width: 100%;
    height: 57vh;
    /* background: url("../../public/pics/op.jpg");
    background-size: cover; */
}


.main-img{
    width: 100%;
    display: flex;
}

.cover-img{
    margin: auto;
    height: 55vh;
    width: 100%;
    object-fit: cover;
	object-position: center;
}

.intro .clouds{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}


.cloud1 {
    animation: animate-clouds calc(3s * 1) linear infinite;
}
.cloud2 {
    animation: animate-clouds calc(3s * 2) linear infinite;
}
.cloud3 {
    animation: animate-clouds calc(3s * 3) linear infinite;
}
.cloud4{
    animation: animate-clouds calc(3s * 4) linear infinite;
}
.cloud5 {
    animation: animate-clouds calc(3s * 5) linear infinite;
}
.cloud6 {
    animation: animate-clouds calc(3s * 6) linear infinite;
}
.cloud7 {
    animation: animate-clouds calc(3s * 7) linear infinite;
}
.cloud8 {
    animation: animate-clouds calc(3s * 8) linear infinite;
}
.cloud9 {
    animation: animate-clouds calc(3s * 9) linear infinite;
}
.cloud10 {
    animation: animate-clouds calc(3s * 10) linear infinite;
}

.cloud11 {
    animation: animate-clouds calc(2s * 8) linear infinite;
}
.cloud12 {
    animation: animate-clouds calc(2s * 9) linear infinite;
}
.cloud13 {
    animation: animate-clouds calc(2s * 10) linear infinite;
}

.cloud14 {
    animation: animate-clouds calc(2s * 5) linear infinite;
}

.grad-transit{
    position: absolute;
    bottom: 0;
    height: 124px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,0,0,0), #FFFFFFD7 35%, #FFFFFF 45%);
    transform: translateY(43%);
}

.intro .clouds img{
    position: absolute;
    bottom: 0;
    height: 130px;
    width: 100%;
}

@keyframes animate-clouds 
{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    25%,75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

@media (min-width: 1190px){
    .cover-img{
        position: absolute;
        width: 50%;
        left: 0;
    }
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.nav-header{
    /* background: #ffffff; */
    position: relative;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


.prim-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background: hsl(0 0% 0% / 0.5);
    /* backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px); */
}

@supports (backdrop-filter: blur(6px)){
    .prim-nav {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }
}

@media (max-width: 35em){
    .prim-nav {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        --gap: 2em;
    }
}

.prim-nav li{
    /* font-family: new; */
    color: #ffffff;
}

.logo-box{
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box img{
    width: 63px;
    height: 48px;
}

.prim-nav li a{
    font-family: new;
    color: #ffffff;
}
