@import "/node_modules/slick-carousel/slick/slick.css";
@import "/node_modules/slick-carousel/slick/slick-theme.css";

.App {
  text-align: center;
  height: 100vh;
}

.container-app {
  padding: 2.5rem 0;
}
