
@font-face {
    font-family: over;
    src: url("../../../public/font/LEMONMILK-Regular.otf");
}


@font-face {
    font-family: kari;
    src: url("../../../public/font/karima-font/KarimaForPersonalUseOnly-ZVPJm.otf");
}


.cards-box{
    width: 100%;
    top: 50%;
    // margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contr{
        width: 100%;
        background-color: transparent;
        // background-color: #faf6f0;
        display: flex;
        justify-content: center;
        margin-bottom: 170px;
        // margin: 20px;
    }

    .contr:nth-child(2){
        margin-bottom: 180px;
    }

    .text-box{
        z-index: 7;
        margin-top: 288px;
        position: absolute;
        width: 75%;
        color: #fffbf5;

        @media screen and (min-width: 328px) {
            font-size: .83rem;
    
        }

        @media screen and (min-width: 358px) {
            font-size: .93rem;
    
        }

        @media screen and (min-width: 448px) {
            width: 350px;
            margin-bottom: 50px;
            font-size: 1rem;
    
        }

        h3{
            font-size: 9.5vw;
            color: #dfd3c2;
            text-align: center;
            font-family: kari;
            text-transform: uppercase;
            margin-bottom: 10px;

            @media screen and (min-width: 468px) {
                font-size: 2.7rem;
        
            }

            @media screen and (min-width: 868px) {
            

            }
        }
    }

    .img-one{
        padding: 15px;
        position: absolute;
        margin-left: 30px;
        z-index: 8;
        height: 286px;
        width: 75%;
        border-radius: 50% 50% 0 0;
        background-Image: url("../../../public/pics/oth/a.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-width: 1px;
        border-style:solid;
        border-color: #beb0a3e9;

        @media screen and (min-width: 448px) {
            width: 350px;
        
    
        }
    }

    .img-two{
        position: absolute;
        margin-left: 8%;
        z-index: 8;
        height: 286px;
        width: 75%;
        border-radius: 50% 50% 0 0;
        background-Image: url("../../../public/pics/oth/b.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-width: 1px;
        border-style:solid;
        border-color: #beb0a3e9;
        
        @media screen and (min-width: 448px) {
            width: 350px;
        
    
        }
    }

    .img-three{
        position: absolute;
        margin-left: 8%;
        z-index: 8;
        height: 286px;
        width: 75%;
        border-radius: 50% 50% 0 0;
        background-Image: url("../../../public/pics/oth/c.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-width: 1px;
        border-style:solid;
        border-color: #beb0a3e9;

        @media screen and (min-width: 448px) {
            width: 350px;
        
    
        }
    }

    .card-text{
        // color:#faf6f0;
        z-index: 5;
        border-radius: 50% 50% 0 0;
        border-width: 1px;
        border-style:solid;
        border-color: #f8e8da;
        height: 285px;
        padding: 15px;
        // border   -radius: 0 10px;
        width: 85%;
        margin: 20px;
        // font-size: .93rem;

        @media screen and (min-width: 358px) {
            margin-bottom: 30px;
            font-size: .96rem;
    
        }

        @media screen and (min-width: 448px) {
            width: 350px;
            margin-bottom: 50px;
            font-size: 1rem;
    
        }

    }

    .card-text h3{
        font-size: 8vw;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;

        @media screen and (min-width: 468px) {
            font-size: 2rem;
    
        }

        @media screen and (min-width: 868px) {
        

        }

    }

    .number-one {
        position: absolute;
        left: 0;
        margin-left: 10%;


        p {
            font-family: over;
            font-style: normal;
            font-weight: 400;
            font-size: 2em;
            /* or 20% */

            // text-align: center;
        }
        @media screen and (min-width: 308px) {
            margin-top: -0.5ch;
            font-size: 5.5vw;
    
        }

        @media screen and (min-width: 538px) {
            margin-left: 12%;
            margin-top: -1ch;
            font-size: 2rem;
            margin-left: 16%;
    
        }
        

        color: rgba(200, 192, 177, 0.52);
        
    }

    .number-two {
        position: absolute;
        left: 0;
        margin-left: 10%;


        p {
            font-family: over;
            font-style: normal;
            font-weight: 400;
            font-size: 2em;
            /* or 20% */

            // text-align: center;
        }

        @media screen and (min-width: 308px) {
            margin-top: -0.9ch;
            font-size: 5.5vw;
    
        }

        @media screen and (min-width: 538px) {
            margin-top: -2ch;
            font-size: 2rem;
            margin-left: 16%;
    
        }
        

        color: rgba(200, 192, 177, 0.52);
        
    }

    .number-three {
        position: absolute;
        left: 0;
        margin-left: 10%;


        p {
            font-family: over;
            font-style: normal;
            font-weight: 400;
            font-size: 2em;
            /* or 20% */

            // text-align: center;
        }
        
        @media screen and (min-width: 308px) {
            margin-top: -0.9ch;
            font-size: 5.5vw;
    
        }

        @media screen and (min-width: 538px) {
            margin-top: -2ch;
            font-size: 2rem;
            margin-left: 16%;
    
        }

        color: rgba(200, 192, 177, 0.52);
        
    }

    @media screen and (min-width: 658px){
        display: none;
    }
}

.slideUp{
    // position: relative;
    width: 100%;
    margin-top :350px;
    opacity: 0;
    transition: all 2s ease;
}

.slideUp.active{
    width: 100%;
    margin-top: 0;
    opacity: 1;
}

.cslideUp{
    // position: relative;
    width: 100%;
    margin-top :150px;
    opacity: 0;
    transition: all 2s ease;
}

.cslideUp.active{
    width: 100%;
    margin-top: 0;
    opacity: 1;
}

.cslideLeft{
        
    transform: translateX(350px);
    opacity: 0;
    transition: all 2s ease;
}

.cslideLeft.active{
    transform: translateX(0);
    opacity: 1;
}

.cslideRight{
        
    position: relative;
    transform: translateX(-350px);
    opacity: 0;
    transition: all 2s ease;
}

.cslideRight.active{
    transform: translateX(0);
    opacity: 1;
}



//
