.cards-one{
    display: none;
    color:#fdf9f4;
    margin-bottom: 100px;
    // margin: 20px;
    font-size: 1.05rem;
    justify-content: right;


    .number-one {
        position: absolute;
        margin-top: -2ch;
        left: 0;
        // margin-left: 10%;

        p {
            font-family: over;
            font-style: normal;
            font-weight: 400;
            font-size: 5.4em;
            /* or 20% */

            // text-align: center;
        }

        @media screen and (min-width: 762px) {
            p{
                font-size: 6em;
            }

    
        }

        @media screen and (min-width: 938px) {
            // margin-top: -3.7ch;
            // font-size: 2rem;
            // margin-left: 16%;
    
        }
        

        color: rgba(200, 192, 177, 0.52);
        
    }
    
    @media screen and (min-width: 658px) {
        display: block;
        display: flex;
    }

}

.cards-two{
    color:#fdf9f4;
    display: none;
    margin-bottom: 265px !important;
    font-size: 1.05rem;


    .number-two {
        position: absolute;
        margin-top: -2ch;
        right: 0;

        p {
            font-family: over;
            font-style: normal;
            font-weight: 400;
            font-size: 5.4em;
        
        }

        @media screen and (min-width: 762px) {
            p{
                font-size: 6em;
            }
    
        }

        @media screen and (min-width: 938px) {
            // margin-top: -3.7ch;
            // font-size: 2rem;
            // margin-left: 16%;
    
        }
        

        color: rgba(200, 192, 177, 0.52);
        
    }

    @media screen and (min-width: 658px) {
        display: block;
    }

}

.cards-three{
    display: none;
    color:#fdf9f4;
    font-size: 1.05rem;
    justify-content: right;

    .number-three {
        position: absolute;
        margin-top: -2ch;
        left: 0;

        p {
            font-family: over;
            font-style: normal;
            font-weight: 400;
            font-size: 5.4em;
            /* or 20% */

            // text-align: center;
        }

        @media screen and (min-width: 762px) {
            p{
                font-size: 6em;
            }
    
        }

        @media screen and (min-width: 938px) {
            // margin-top: -3.7ch;
            // font-size: 2rem;
            // margin-left: 16%;
    
        }
        

        color: rgba(200, 192, 177, 0.52);
        
    }

    @media screen and (min-width: 658px) {
        display: block;
        display: flex;
    }

}

.cards-ordi{
    display: flex;
    
    justify-content: center;

    @media screen and (min-width: 962px) {
        display: none;
    // width: 75%;
    }
}

.ctner{
    min-width: 525px;

    .contr{
        background-color: transparent;
        
        display: flex;
        justify-content: center;
        margin-bottom: 140px;
        // margin: 20px;
    }

    .contr:nth-child(2){
        margin-bottom: 160px;
    }

    .text-box{
        z-index: 7;
        margin-top: 345px;
        position: absolute;
        width: 300px;
        color: #fffbf5;
        font-size: .95rem;


        h3{
            font-size: 9.5vw;
            color: #dfd3c2;
            text-align: center;
            font-family: kari;
            text-transform: uppercase;
            margin-bottom: 10px;

            @media screen and (min-width: 468px) {
                font-size: 2.4rem;
        
            }

            @media screen and (min-width: 868px) {
            

            }
        }
    }

    .fcard-text{
        position: absolute;
        margin-top: 150px;
        z-index: 25;
        height: 105px;
        border-radius: 50%;
        border-style: solid;
        margin-left: -8px;
        border-width: 1px;
        border-color: transparent #ffe9de  #ffe9de #ffe9de ;
        transform: rotate3d(1, 1, 1, 15deg);
        
        
        @media screen and (min-width: 448px) {
            width: 370px;
        }
    }

    .scard-text{
        position: absolute;
        margin-top: 150px;
        z-index: 25;
        height: 105px;
        border-radius: 50%;
        border-style: solid;
        margin-left: 8px;
        border-width: 1px;
        border-color: transparent #ffe9de  #ffe9de #ffe9de ;
        transform: rotate3d(1, 1, 1, -15deg);
        
        
        @media screen and (min-width: 448px) {
            width: 370px;
        
    
        }
    }

    .tcard-text{
        position: absolute;
        margin-top: 150px;
        z-index: 25;
        height: 105px;
        border-radius: 50%;
        border-style: solid;
        margin-left: -8px;
        border-width: 1px;
        border-color: transparent #ffe9de  #ffe9de #ffe9de ;
        transform: rotate3d(1, 1, 1, 15deg);
        
        
        @media screen and (min-width: 448px) {
            width: 370px;
        }

    }

    .img1-card{
        z-index: 5;
        background-Image: url("../../../public/pics/oth/a.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-width: 1px;
        border-style:solid;
        border-color:  #c3aa93a4;
        border-radius: 150px 150px  0 0 ;

        height: 330px;
        padding: 15px;

        @media screen and (min-width: 448px) {
            width: 310px;
        }

    }

    .img2-card{
        z-index: 5;
        background-Image: url("../../../public/pics/oth/b.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-width: 1px;
        border-style:solid;
        border-color: #ba9581da;
        border-radius:150px 150px  0 0 ;

        height: 330px;
        padding: 15px;


        @media screen and (min-width: 448px) {
            width: 310px;
            margin-bottom: 10px;

    
        }

    }

    .img3-card{
        z-index: 5;
        background-Image: url("../../../public/pics/oth/c.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-width: 1px;
        border-style:solid;
        border-color:  #c3aa93a4;
        border-radius: 150px 150px  0 0 ;

        height: 330px;
        padding: 15px;

        @media screen and (min-width: 448px) {
            width: 310px;
            margin-bottom: 60px;
        }


    }


    .number-one{
        margin-left: 10%;
    }

    .number-two{
        margin-right: 13%;
    }

    .number-three{
        margin-left: 10%;
    }
    @media screen and (min-width: 762px) {
        min-width: 81%;
        // margin: 55px;
    }


    @media screen and (min-width: 812px) {
        // margin: 55px;
        .number-one{
            margin-left: 15%;
            
        }
    
        .number-two{
            margin-right: 15%;
        }
    
        .number-three{
            margin-left: 15%;
        }

    }

}


