
.final-cards{
    display: none;
    margin: 7%;

    @media screen and (min-width: 962px){
        display: block;
        display: flex;
        // justify-content: center;
        flex-direction: row;

        .ctr{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 25px;
            color:#faf6f0;
            width: 500px;

          
            .card-text{
                height: 265px;
                padding: 20px;

                h3{
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
              
            }

            .number-one{
                position: absolute;
                margin-top: -31ch;
                color: rgba(200, 192, 177, 0.52);
                margin-left: -4ch;

                p {
                    font-family: over;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 5.4em;
                   
                }
            }

            .number-two{
                // position: absolute;
                // margin-top: -31ch;
                text-align: center;
                color: rgba(200, 192, 177, 0.52);
                // margin-left: -4ch;

                p {
                    font-family: over;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 5.4em;
                    /* or 20% */

                    
                }
            }

            .number-three{
                position: absolute;
                margin-top: -31ch;
                right: 0;
                color: rgba(200, 192, 177, 0.52);
                margin-right:10%;
                // float: right;
   
                // margin-right: -31ch;

                p {
                  
                    font-family: over;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 5.4em;
                   
                }
            }
        }

        // .ctr:nth-child(1){
        //     .card-text{
        //         margin-bottom: 23px;
        //     }
        // }

        .ctr:nth-child(2){
            .card-text{
                margin-bottom: 40px;
            }
     
        }
    }
}