

// *,*::before,*::after{box-sizing:border-box}



// .cadre-demo{

// height:400px;
// width:600px;
// margin:8rem auto;


// 	}
	


// /*environnement en trois dimensions*/
// #votre_slideshow{
// height:400px;
// width:600px;
// perspective: 1200px;
// perspective-origin: 50% 50%		
// 		}	
	
		
// .cube{
// position: relative;
// float:left;
// width:calc(100%/3);
// height: inherit;
// transform-style: preserve-3d;
// transform-origin: 50% 50%;
// animation: votre-anim cubic-bezier(.6,1,.4,1) infinite 15s;
	
// }		
		
// 	#cube1{
	
// z-index: 1;
// animation-delay: 1s
	
// 	}
	
// #cube2{
	
// z-index: 2;
// animation-delay: 1.2s
	
// 	}
	
// #cube3{
	
// z-index: 1;
// animation-delay: 1.4s
	
// 	}
	

		
// /* on cree une class qu'on va repeter sur chaque id*/
// .cube div{
	
// position:absolute;
	
// 	}
		

// .gauche-droite{

// width:200%;
// height:400px;

// }
	

	
// .devant-derriere{
	
// width:100%;
// height:100%
		
// }
	
// .haut-bas{
	
// width:100%;
// height:100%
		
// 	}
	


// /* images et position-les six faces du cube*/
	
// .devant{
	
// background-image:url("../../../public/omega/2people.jpg");
// background-size:cover;
// transform:translateZ(200px)
	
// 	}

// .derriere{
	
// background-image:url("../../../public/omega/first.jpg");
// background-size:cover;
// transform: rotateY(180deg) rotateZ(180deg) translateZ(200px)
	
// 	}

// .haut{
	
// background-image:url("../../../public/omega/group.jpg");
// background-size:cover;
// transform: rotateX(90deg) translateZ(200px)
	
// 	}

// .bas{
		
// background-image:url("../../../public/omega/IMG_1786.jpg");
// background-size:cover;
// transform: rotateX(-90deg) translateZ(200px)
	
// 	}
	
// .gauche{
	
// background: #000;
// transform:rotateY(90deg) translateZ(0)
	
// 	}

// /*pas d'image ici-on met un background*/
//  .droite{

// background: #000;
// transform:  rotateY(-90deg) translateZ(200px)
	
// 	}			
	
	


// /*Pour que les images soient a la meme hauteur les unes sur les autres*/
// #cube1 div{
	
// 	background-position: 0 0
	
// 	}
	
// #cube2 div{
	
// 	background-position: -100% 0
	
// 	}
	
// #cube3 div{
	
// 	background-position:-200% 0
	
// 	}

// /*animation slideshow 3D*/

// @keyframes votre-anim {
// from,to{}
	
// 10%,25%{
// 	transform: rotateX(-90deg)
// 	}
	
// 35%,50%{
// 	transform: rotateX(-180deg)
// 	}
	
// 60%,75%{
// 	transform: rotateX(-270deg)
// 	}
	
// 85%,100%{
// 	transform: rotateX(-360deg)
// 	}
	
// 	}	

.img1{
  background-Image: url("../../imagesTemp/omega/2people.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img2{
  background-Image: url("../../imagesTemp/omega/first.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img3{
  background-Image: url("../../imagesTemp/omega/group.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img4{
  background-Image: url("../../imagesTemp/omega/IMG_1786.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img5{
  background-Image: url("../../imagesTemp/omega/manypeps.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img6{
  background-Image: url("../../imagesTemp/omega/first.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img7{
  background-Image: url("../../imagesTemp/omega/first.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img8{
  background-Image: url("../../imagesTemp/omega/first.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img9{
  background-Image: url("../../imagesTemp/omega/first.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img10{
  background-Image: url("../../imagesTemp/omega/first.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.react-3d-carousel .slider-container .slider-right div {
  border: 0 !important;
}

.react-3d-carousel .slider-container .slider-left div {
  border: 0 !important;
}

.fa{
  color: rgb(255, 245, 235) !important;
}

@media screen and (max-width: 460px) {
  .img1{
    height: 300px;
    width: 100%;
  }
  
  .img2{
    height: 300px;
    width: 100%;
  }
  
  .img3{
    height: 300px;
    width: 100%;
  }
  
  .img4{
    height: 300px;
    width: 100%;
  }
  
  .img5{
    height: 300px;
    width: 100%;
  }
  
  .img6{
    height: 300px;
    width: 100%;
  }
  
  .img7{
    height: 300px;
    width: 100%;
  }
  
  .img8{
    height: 300px;
    width: 100%;
  }
  
  .img9{
    height: 300px;
    width: 100%;
  }
  
  .img10{
    height: 300px;
    width: 100%;
  }
}

@media screen and (min-width: 760px) {
  .img1{
    height: 420px;
    width: 100%;
  }
  
  .img2{
    height: 420px;
    width: 100%;
  }
  
  .img3{
    height: 420px;
    width: 100%;
  }
  
  .img4{
    height: 420px;
    width: 100%;
  }
  
  .img5{
    height: 420px;
    width: 100%;
  }
  
  .img6{
    height: 420px;
    width: 100%;
  }
  
  .img7{
    height: 420px;
    width: 100%;
  }
  
  .img8{
    height: 420px;
    width: 100%;
  }
  
  .img9{
    height: 420px;
    width: 100%;
  }
  
  .img10{
    height: 420px;
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .img1{
    height: 500px;
    width: 700px;
    background-color: transparent;
  }
  
  .img2{
    height: 500px;
    width: 700px;
  }
  
  .img3{
    height: 500px;
    width: 700px;
  }
  
  .img4{
    height: 500px;
    width: 700px;
  }
  
  .img5{
    height: 500px;
    width: 700px;
  }
  
  .img6{
    height: 500px;
    width: 700px;
  }
  
  .img7{
    height: 500px;
    width: 700px;
  }
  
  .img8{
    height: 500px;
    width: 700px;
  }
  
  .img9{
    height: 500px;
    width: 700px;
  }
  
  .img10{
    height: 500px;
    width: 700px;
  }
}