
.img1{
  background-Image: url("../../imagesTemp/omega/2people.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img2{
  background-Image: url("../../imagesTemp/omega/first.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img3{
  background-Image: url("../../imagesTemp/omega/group.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img4{
  background-Image: url("../../imagesTemp/omega/IMG_1786.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img5{
  background-Image: url("../../imagesTemp/omega/manypeps.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img6{
  background-Image: url("../../imagesTemp/add/9DBADEF3-3446-4803-A78C-F2E0E0F3E645.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img7{
  background-Image: url("../../imagesTemp/add/IMG_1079.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img8{
  background-Image: url("../../imagesTemp/add/IMG_9883.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img9{
  background-Image: url("../../imagesTemp/add/IMG_9885.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.img10{
  background-Image: url("../../imagesTemp/omega/first.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 350px;
  width: 100%;
}

.react-3d-carousel .slider-container .slider-right div {
  border: 0 !important;
}

.react-3d-carousel .slider-container .slider-left div {
  border: 0 !important;
}

.fa{
  color: rgb(255, 245, 235) !important;
}

@media screen and (max-width: 460px) {
  .img1{
    height: 300px;
    width: 100%;
  }
  
  .img2{
    height: 300px;
    width: 100%;
  }
  
  .img3{
    height: 300px;
    width: 100%;
  }
  
  .img4{
    height: 300px;
    width: 100%;
  }
  
  .img5{
    height: 300px;
    width: 100%;
  }
  
  .img6{
    height: 300px;
    width: 100%;
  }
  
  .img7{
    height: 300px;
    width: 100%;
  }
  
  .img8{
    height: 300px;
    width: 100%;
  }
  
  .img9{
    height: 300px;
    width: 100%;
  }
  
  .img10{
    height: 300px;
    width: 100%;
  }
}

@media screen and (min-width: 760px) {
  .img1{
    height: 420px;
    width: 100%;
  }
  
  .img2{
    height: 420px;
    width: 100%;
  }
  
  .img3{
    height: 420px;
    width: 100%;
  }
  
  .img4{
    height: 420px;
    width: 100%;
  }
  
  .img5{
    height: 420px;
    width: 100%;
  }
  
  .img6{
    height: 420px;
    width: 100%;
  }
  
  .img7{
    height: 420px;
    width: 100%;
  }
  
  .img8{
    height: 420px;
    width: 100%;
  }
  
  .img9{
    height: 420px;
    width: 100%;
  }
  
  .img10{
    height: 420px;
    width: 100%;
  }
}

.react-3d-carousel {

  position: relative;
  

}


@media screen and (min-width: 960px) {
  
  // .react-3d-carousel .slider-container {

  //   position: absolute;
  //   display: flex !important;
  //   // align-items: center !important;
  //   justify-content: center !important;
  //   left: 0 !important;
  //   top: 0%;
  //   width: 100% !important;
  //   margin: -0px auto 0px 0px !important;
  
  // }
  
  .react-3d-carousel .slider-container .slider-content {
  
      // position: absolute;
      // z-index: 0;
      // left: 0;
      // top: 0;
      width: 700px !important;
      // transition: z-index 0ms 250ms;
      // background-color: #ffffff00 !important;
  
  }

  .img1{
    height: 500px;
    width: 700px;
    
  }
  
  .img2{
    height: 500px;
    width: 700px;
    
  }
  
  .img3{
    height: 500px;
    width: 700px;
    
  }
  
  .img4{
    height: 500px;
    width: 700px;
    
  }
  
  .img5{
    height: 500px;
    width: 700px;
    
  }
  
  .img6{
    height: 500px;
    width: 700px;
    
  }
  
  .img7{
    height: 500px;
    width: 700px;
    
  }
  
  .img8{
    height: 500px;
    width: 700px;
    
  }
  
  .img9{
    height: 500px;
    width: 700px;
    
  }
  
  .img10{
    height: 500px;
    width: 700px;
    
  }
}